/*
!.claude/
.claude/*
!.claude/projects/
.claude/projects/*
!.claude/projects/C--Users-yvjingrui03/
.claude/projects/C--Users-yvjingrui03/*
!.claude/projects/C--Users-yvjingrui03/memory/
!.claude/projects/C--Users-yvjingrui03/memory-archive/
!.gitignore
